html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
*[block] {
    display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
    display: block;
    content:"";
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

/* Element-ui  默认样式修改 */
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    font-weight: normal;
    color: initial;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background-color: #184f96;
}
.table .el-table::before {
    content:unset;
}
.table .el-table {
    border: 1px solid #098fbb;
}
.el-scrollbar__wrap{
    overflow: hidden;
}
#siderBar .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
    transform: rotateZ(0deg);
}
#siderBar .el-submenu__icon-arrow {
    transform: rotateZ(-90deg);
}
.el-menu-item, .el-submenu__title {
    height: 30px;
    line-height: 30px;
}
.el-menu-item-group__title {
    display: none;
}
.el-menu {
    border-right: none;
}

/* 防止element-ui的样式字体颜色被全局污染 */
[class^='el'] span,label[class^='el'],i[class^='el'] {
    color: unset;
}